In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [4]:
data=pd.read_csv(r"C:\Users\TEMP.MITS.002\Desktop\Social_Network_Ads.csv")

In [5]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [6]:
x=data.iloc[:,[2,3]].values
y=data.iloc[:,-1].values

In [8]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=20)

In [10]:
knn=KNeighborsClassifier(n_neighbors=7)
knn.fit(x_train,y_train)
y_pred=knn.predict(x_test)
cm=confusion_matrix(y_test,y_pred)
print("confusion matrix= \n",cm)

confusion matrix=
 [[56  2]
 [17 25]]

In [11]:
print("accuracy:\n",accuracy_score(y_test,y_pred))

accuracy:
 0.81